.logo-img {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust the width as needed */
    height: auto;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    transition: transform 0.2s;
    margin-left: 0px;
    margin-right: 10px;
}

.logo-img:hover {
    transform: scale(1.05);
}

.logo-container {
    background-color: #E50914; /* Netflix red */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7))10%,transparent;
    z-index:1;

    
}
.navbar-left{
    display: flex;
    align-items: center;
    gap:50;
}
.navbar-left img{
    width: 90px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
   
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.profile-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile-dropdown .profile{
    border-radius: 4px;
}
.profile-dropdown .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.profile-dropdown:hover .dropdown{
    display: block;
}
.profile-dropdown .dropdown p{
    font-size: 13px;
    cursor: pointer;
}


